@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.clip-diagonal {
  clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}

@theme {
  --color-brand: #00659F;
} 

.glow-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #00e5ff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff, 0 0 40px #00e5ff;
}

.glow-marker::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #00e5ff;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  animation: pulseGlow 2s infinite;
}

@keyframes pulseGlow {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}